@using LogKeeperPg.Models

<div class="modal fade modal-xl" id="@GetLogModalId(Log)" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="w-75">
                    <h5 class="modal-title mb-3">@Log?.Title</h5>
                    <p>@Log?.Project</p>
                    <p>@Log?.Author</p>
                    <span>@Log?.Time</span>
                </div>
                <button type="button"
                        class="btn-close position-absolute top-0 end-0 me-3 mt-3"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Log?.Contents</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public LogInformation? Log { get; set; }
    
    public static string GetLogModalId(LogInformation? log)
    {
        ArgumentNullException.ThrowIfNull(log);
        return $"logModal-{log.Uuid.ToString()}";
    }
}